<%= form_with(model: review, class: "card") do |f| %>
  <% if review.errors.any? %>
    <div class="alert"><%= review.errors.full_messages.to_sentence %></div>
  <% end %>

  <div class="field">
    <%= f.label :title, "本のタイトル" %>
    <%= f.text_field :title %>
  </div>

  <div class="field">
    <%= f.label :author, "著者" %>
    <%= f.text_field :author %>
  </div>

  <div class="field">
    <%= f.label :body, "感想" %>
    <%= f.text_area :body, rows: 6 %>
  </div>

  <div class="field">
    <%= f.label :rating, "星評価" %>
    <%= f.select :rating, options_for_select((1..5).map{|n| [("★" * n) + ("☆" * (5-n)), n]}, review.rating) %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
