%div{:id => "#{dom_id review}"}
  %p
    %strong Title:
    = review.title
  %p
    %strong Author:
    = review.author
  %p
    %strong Body:
    = review.body
  %p
    %strong Rating:
    = review.rating
